<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Empleado</title>
</head>
    <body class="container">
        <div th:replace="/fragments/navbar.html :: navbar">
        </div>

<div class="page-header text-left">

</div>

    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Tu Lista de Mascotas</h1>
        <div>
        <a th:href="@{/contactos/lista}" class="btn btn-primary">Regresar a la lista</a>
        </div>
        <br>
        <table class="table table-sm">
            <tr>
                <th>#</th>
                <th>Nombre mascota</th>
                <th>Año</th>
                <th>Sexo</th>

            </tr>
            <tr th:each="mascota, i : ${mascotas}">
                <td th:text="${i.index + 1}"></td>
                <td th:text="${mascota.nombre}"></td>
                <td th:text="${mascota.anho}"></td>
                <td th:text="${mascota.sexo}"></td>

            </tr>
            <tr>
                <td colspan="5"
                    th:if="${#lists.isEmpty(mascotas)}">
                    Este contacto no tiene mascotas registradas
                </td>
            </tr>
        </table>


    </div>

</form>
</body>
</html>