<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <title>Lista Servicios por Mascota</title>
    </head>
    <body>
        <div th:replace="/fragments/navbar.html :: navbar">
        </div>
        <div class="container">

            <h1 class="font-italic" style=" text-align: center ;color: #0c5460">Lista de Servicios por Mascota</h1>

            <div class="container-fluid">
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Nombre mascota</th>
                        <th>Edad</th>
                        <th>Hora de Inicio</th>
                        <th>Duración</th>
                        <th>Entrega</th>
                        <th>Nombre de Responsable</th>
                        <th>Servicio</th>
                    </tr>
                    <tr th:each= "servicios,i : ${listaServiciosxMascota}">
                        <td th:text="${i.index + 1}"></td>
                        <td th:text="${servicios.nombre}"></td>
                        <td th:text="${servicios.anho}"></td>
                        <td th:text="${#dates.format(servicios.horainicio,'dd-MM-yyyy hh:mm:ss')}"></td>
                        <td th:text="${servicios.duracion}"></td>
                        <td th:text="${servicios.entrega}"></td>
                        <td th:text="${servicios.responsable}"></td>
                        <td th:text="${servicios.descripcion}"></td>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>