<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>
</head>
<body class="container align-items-lg-center">

    <div class="container container-fluid ">
        <h1 class="font-italic align-items-center" style="font-size:100px ; text-align: center ;color: #0c5460" >Televet</h1>

    </div>
    <div class="container">
        <img th:src="@{/images/mascotas.jpg}" width="750" height="300">
    </div>
    <div style="text-align: center">
        <a th:href="@{/mascotas}" type="button" class="btn btn-outline-info btn-lg"> Lista de Mascota </a>
        <a th:href="@{/servicios}" type="button" class="btn btn-outline-info btn-lg"> Servicio </a>
        <a th:href="@{/contactos/lista}" type="button" class="btn btn-outline-info btn-lg"> Contacto y/o Dueño </a>
        <a th:href="@{/responsables/listar}" type="button" class="btn btn-outline-info btn-lg"> Nuevo Responsable</a>

    </div>
</body>
</html>
